<div id="colOne">
	
	<h2>Your Business, Your Software</h2>
	<p>
		<blockquote>
			"Any intelligent fool can make things bigger and more complex... It takes a touch of genius, 
			and a lot of courage, to move in the opposite direction."
			- Albert Einstein
		</blockquote>
	</p>
	
	<p>
		Running your business can be very complicated. Sometime more complicated that it has to be. 
		The software you rely on to manage your business shouldn't be. How often have you found your
		business saddled with software that is overly complex, hard to use and laden with features that 
		you'll never used? You know that running your business would be much easier with software that 
		simply allows you to get your work done. 
	</p>
	
	<p>					
		Our experience has been that most software today is far too complicated and overly complex. 
		Our goal is to build leaner web-based systems that with easy to use interfaces and the features 
		necessary to get the job done. We build web-applications that are designed from the ground up 
		to help you run your business effectively, intelligently and simply. We avoid implementing 
		the features you don't need or want and would never use - steering clear of the "kitchen-sink" 
		approach. 
	</p>
					
	<h2>Web-based Software</h2>
	<p>
		Web-Based Software is software you use over the internet with a web browser. You don’t have to 
		install any CDs, download any software, or worry about upgrades. If you use an online bank or 
		web-based email program like Gmail, Hotmail, or Yahoo Mail then you’ve already used web-based 
		software before.
	</p>
	
	<h2>business information safety</h2>
	<p>
		With traditional software, employees save data on their laptops, USB drives, or portable hard
		drives. It’s not as safe as it sounds. Laptops are stolen, computers are rarely backed up 
		properly, and it’s unlikely everyone’s machines are up to date with the latest security patches 
		and updates. When you use our web-based software, your data is stored on secure, always-updated, 
		backed-up daily enterprise-class servers in a state-of-the-art, highly-secure data center.
	</p>
	
	<h2>location, location, location</h2>
	<p>
		A key advantage to web-based software is that all your data is centralized and accessible 
		over the web from any computer at any time. You can’t leave something on the wrong computer 
		since everything is stored in one place on the web. You can get to it from anywhere. Safe, 
		secure, and password protected, of course.
	</p>
	
	<h2>backups and storage</h2>
	<p>
		Your data is automatically backed up daily.
		Your data is backed up every day. Our backups are stored in multiple locations for additional 
		redundancy. You could say our backups have backups. We’ve never lost anyone’s data and we won’t 
		lose yours.
	</p>
	
	<h2>data security</h2>
	<p>
		Your data is safe and secure with us.
		Our state-of-the-art servers are protected by biometric locks and 24-hour surveillance. Our 
		software and infrastructure is updated regularly with the latest security patches. The traffic 
		on our network flows behind an enterprise-class firewall to keep your data safe. Read more 
		about security.
	</p>
	
	<h2>upgrades, updates, installations</h2>
	<p>
		Unlike traditional software that requires you to download and install updates yourself, our 
		products are updated automatically. Whenever you use our products you’re always using the 
		latest and greatest version.
	</p>
	
	<p>
		There’s nothing to install, ever.
		With our software there’s nothing to download or install. Just log in with the web-browser 
		you already have (Internet Explorer 7, Safari, or Firefox). It’s just like your online bank 
		or web-based email program.
	</p>
	
	<p>
		You’ll never have to ask “Is it compatible?”
		Software used to only be available for certain platforms. There was Windows software, Mac 
		software, etc. Our software works on any platform with a web browser and internet connection. 
		Mac, Windows, Linux are all supported.
	</p>
	
	<h2>freedom</h2>
	<p>
		You can work from home, work, or on the road.
		When you use web-based software your office is everywhere. At work, at home, a hotel, at a 
		client’s office, even on your mobile phone. You data is accessible anywhere with internet 
		access.		
	</p>
	
	<h2>so what?</h2>
	<p>
		When you use web-based software you don't have to worry about anything technical — you can 
		just do your work. We handle all the security and uptime and backups and upgrades and “IT guy” 
		stuff. You can stay focused on what you're good at and we'll handle the rest.		
	</p>
	
	<div class="posted">
		<p>posted by <a href="#">Tony Brewer</a> on January 10, 2007</p>
		<p class="comments"><a href="#"></a></p>
	</div>
</div>

<div id="colTwo">
	<h3>Call us now free</h3>
		<a href="http://www.ringcentral.com" target="Callback_RingMe" 
						onclick='var wind = window; var winop = wind.open; 
						winop("http://www.ringcentral.com/ringme/?uc=56679615,0,&s=no&v=2", 
						"Callback_RingMe", "resizable=no,width=380,height=360"); return false;'><img border="0" 
						src="https://service.ringcentral.com/picture/ringme/ringme_small.gif" alt="800 number">
		</a>
	<h3</h3>
	
	<h3>Services</h3>				
	<ul>
		<li><a href="#">web dev</a></li>
		<li><a href="#">biz apps</a></li>
		<li><a href="#">custom dev</a></li>
	</ul>
	
	<h3>Products</h3>
	<ul>
		<li><a href="#">innato-inteligencia</a></li>
		<li><a href="#"></a></li>
	</ul>
</div>

<div style="clear: both;">&nbsp;</div>
