<div id="colOne">
	<p>
		With traditional desktop or notebook software, data is saved to USB drives, portable hard
		drives or the computer itself. It’s not as safe as it sounds. Laptops are stolen, computers 
		are rarely backed up properly, and it’s unlikely everyone’s machines are up to date with 
		the latest security patches and updates. When you use our web-based software, your data 
		is stored on secure, always-updated, backed-up daily enterprise-class servers in a 
		state-of-the-art, highly-secure data center. The state-of-the-art servers we use are thoroughly 
		protected by biometric locks and 24-hour surveillance. Our software and system infrastructure 
		is updated regularly with all the latest security patches.
	</p>

	<p>
		Your data is automatically backed up daily. Our backups are stored in multiple locations for 
		additional redundancy. We’ve never lost anyone’s data and we won’t lose yours.
	</p>
</div>