<div id="colOne">
	<p>
		When you use web-based software you don't have to worry about anything technical — you can 
		just do your work. We handle all the security and uptime and backups and upgrades and “IT guy” 
	</p>
</div>