<div id="colOne">
	<p>
		Unlike traditional software that requires you to download and install updates yourself, our 
		products are updated automatically. Whenever you use our products you’re always using the 
		latest and greatest version.
	</p>

	<p>
		With our software there’s nothing to download or install. Just log in with the web-browser 
		you already have (Internet Explorer 7, Safari, or Firefox). It’s just like your online bank 
		or web-based email program.
	</p>

	<p>
		Software used to only be available for certain platforms. There was Windows software, Mac 
		software, etc. Our software works on any platform with a web browser and internet connection. 
		Mac, Windows, Linux are all supported.  All you need is a browser
	</p>
</div>