<div id="colOne">
	<p>
		Web-based software works just like desktop software - the difference being you're using 
		it over the internet within a web browser. Why is this a good thing? For one, there's 
		nothing to install, nothing to download, no "service packs" to apply and no upgrades 
		to concern yourself with. This takes the pain and frustration out of your software solutions. 
		Chances are you're already using web-based software - if you do online banking, use internet based 
		email programs, PayPal, eBay or project management then you're already using web-based software.
	</p>
	
	<p>
		If you're like us, there have been times you feel you're tied to your desktop or notebook
		computer because that's where your software and data is. That's no way to have to work.  Web-based 
		software changes that. It gives you freedom of mobility. Working on the road, from home or in the 
		office becomes easy. Using web-based software puts your office where you need it to be. Internet 
		access is the key, letting you use your software at work, home, traveling, your customer's office 
		and even your phone. Your data is accessible anywhere you can connect to the internet.		
	</p>

	<p>
		One of the biggest advantages to web-based software is having all your data centralized 
		and accessible over the web. Locating those critical files and data becomes a thing of
		the past. Being centralized means you can access it anywhere at anytime with an internet
		connection.
	</p>
</div>