<div id="colOne">
  <h1>design for change, adaptability and simplicity</h1>
    <p>
      <blockquote>
        <i>
          "Fools ignore complexity. Pragmatists suffer it. Some can avoid it. Geniuses remove it."<br />
          -
          <a href="http://en.wikipedia.org/wiki/Alan_Perlis" target="new">Alan J Perlis</a>
        </i>
      </blockquote>
    </p>

  <p>
    Software complexity can be defined as having elements of both algorithmic and human
    psychological complexity. Developments in object-oriented (OO) architectures during the
    1980's and 1990's only served to increase the complexity factor several fold. Most recent
    design metrics studies have been focused nearly exclusively on OO. Identifying and correcting unnecessary
    complexity in architectural and detailed design, prior to implementation and construction
    can increase quality levels up front.
  </p>
</div>

<div id="colTwo">
	<h3>My Stuff</h3>
	<ul>
		<li><a href="http://www.google.com" target="new">simplicity</a></li>
		<li><a href="http://www.yahoo.com" target="new">complexity</a></li>
	</ul>
</div>

<div style="clear: both;">&nbsp;</div>
